# This file serves as default virtual sdcard menu structure.
# See the "example-menu.cfg" file for description of common config parameters.

### VIRTUAL SDCARD MENU ###
# Main
#   ...
#   + SD Card
#       + Init SD card
#       + Resume printing
#       + Pause printing
#       + Unload file
#       + ... (files)
#   ...

[menu __main __virtual_sdcard]
type: list
name: SD Card
index: 2

[menu __main __virtual_sdcard __init]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Init SD card
gcode: M21

[menu __main __virtual_sdcard __resume]
type: command
enable: {printer.idle_timeout.state == "Printing"}
name: Resume printing
gcode: M24

[menu __main __virtual_sdcard __pause]
type: command
enable: {printer.idle_timeout.state == "Printing"}
name: Pause printing
gcode: M25

[menu __main __virtual_sdcard __reset]
type: command
name: Unload file
gcode: SDCARD_RESET_FILE
